<!DOCTYPE html>
<html lang="de" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
        <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
            integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
            crossorigin="anonymous">
        <style>
            html, body, #react-root {
                min-height: 100%;
                min-height: 100vh;
            }

            .navbar, .footer {
                flex: 0 0 auto;
            }

            .main {
                flex: 1 1 auto;
            }
        </style>
        <title>Project-Q Web-App</title>
    </head>
    <body>
        <div id="react-root" class="d-flex flex-column"></div>
        <script src="/static/bundle.js" charset="utf-8"></script>
    </body>
</html>
