{% extends "base.html" %}

{% block title %}Simulation Starten{% endblock %}

{% block content %}
    <h2>Neue Simluation</h2>
    <p>Hier können Sie die Starparameter für Ihre neue Simulation verändern und anschließend die Simulation starten.</p>
    <form method="POST">

        <h5>{{ form.name.label.text }}</h5>
        <div class="row mb-3">
            <div class="col-5">
                <small class="form-text text-muted">{{ form.name.description }}</small>
            </div>
            <div class="col-7">
                {{ form.name( class_="form-control" ) }}
            </div>
        </div>

        <h5>{{ form.model.label.text }}</h5>
        <div class="row mb-3">
            <div class="col-5">
                <small class="form-text text-muted">{{ form.model.description }}</small>
            </div>
            <div class="col-7">
                {% for subfield in form.model %}
                <div class="form-check">
                    {{ subfield( class_="form-check-input" ) }}
                    {{ subfield.label( class_="form-check-label" ) }}
                </div>
                {% endfor %}
            </div>
        </div>

        <h5>Zeitpunkte</h5>
        <div class="mb-5">
            {% for subfield in [form.start, form.stop, form.step_size, form.glucose_impulse_start, form.glucose_impulse_stop] %}
            <div class="form-group row">
                {{ subfield.label( class_="col-sm-5 col-form-label" ) }}
                <div class="col-sm-7">
                    <div class="input-group w-25">
                        {{ subfield( class_="form-control text-right" ) }}
                        <div class="input-group-append">
                            <div class="input-group-text">ms</div>
                        </div>
                    </div>
                    {% if subfield.errors %}
                    <div class="invalid-feedback">
                        {{ subfield.errors[0] }}
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>

        <button type="submit" class="btn btn-primary">Simulation Starten</button>
    </form>
{% endblock %}
