{% extends "base.html" %}

{% block title %}Simulation starten{% endblock %}

{% block content %}
{% if has_running_simulation %}
<div class="alert alert-warning" role="alert">
    Beta-Version: Es läuft bereits eine Simulation. Sie können keine Neue starten, bis diese abgeschlossen ist.
</div>
{% endif %}

<h2>Neue Simulation</h2>
<p>Hier können Sie Einstellungen für Ihre neue Simulation verändern und anschließend die Simulation starten.</p>
<form method="POST">
    <fieldset {{ "disabled" if has_running_simulation }}>

        <h5>{{ form.name.label.text }}</h5>
        <div class="row mb-3">
            <div class="col-5">
                <small class="form-text text-muted">{{ form.name.description }}</small>
            </div>
            <div class="col-7">
                {{ form.name( class_="form-control" ) }}
            </div>
        </div>

        <h5>{{ form.model.label.text }}</h5>
        <div class="row mb-3">
            <div class="col-5">
                <small class="form-text text-muted">{{ form.model.description }}</small>
            </div>
            <div class="col-7">
                {% for subfield in form.model %}
                <div class="form-check">
                    {{ subfield( class_="form-check-input" ) }}
                    {{ subfield.label( class_="form-check-label" ) }}
                </div>
                {% endfor %}
            </div>
        </div>

        <h5>Zeitpunkte</h5>
        <div class="mb-5">
            {% for subfield in [form.start, form.stop, form.step_size, form.glucose_impulse_start,
            form.glucose_impulse_stop] %}
            <div class="form-group row">
                {{ subfield.label( class_="col-sm-5 col-form-label" ) }}
                <div class="col-sm-7">
                    <div class="input-group w-25">
                        {{ subfield( class_="form-control text-right" ) }}
                        <div class="input-group-append">
                            <div class="input-group-text">s</div>
                        </div>
                    </div>
                    {% if subfield.errors %}
                    <div class="invalid-feedback">
                        {{ subfield.errors[0] }}
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>

        <fieldset id="hog-specifics">
            <h5>Hog spezifische Einstellungen</h5>
            <div class="mb-5">
                {% for subfield in [form.nacl_impulse_start, form.nacl_impulse_stop] %}
                <div class="form-group row">
                    {{ subfield.label( class_="col-sm-5 col-form-label" ) }}
                    <div class="col-sm-7">
                        <div class="input-group w-25">
                            {{ subfield( class_="form-control text-right" ) }}
                            <div class="input-group-append">
                                <div class="input-group-text">s</div>
                            </div>
                        </div>
                        {% if subfield.errors %}
                        <div class="invalid-feedback">
                            {{ subfield.errors[0] }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
                <div class="form-group row">
                    {{ form.hog_nacl_impulse.label( class_="col-sm-5 col-form-label" ) }}
                    <div class="col-sm-7">
                        <div class="input-group w-25">
                            {{ form.hog_nacl_impulse( class_="form-control text-right" ) }}
                            <div class="input-group-append">
                                <div class="input-group-text">mM</div>
                            </div>
                        </div>
                        {% if form.hog_nacl_impulse.errors %}
                        <div class="invalid-feedback">
                            {{ form.hog_nacl_impulse.errors[0] }}
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    {{ form.hog_signal_type.label( class_="col-5" ) }}
                    <div class="col-3">
                        {{ form.hog_signal_type( class_="form-control" ) }}
                    </div>
                </div>
            </div>
        </fieldset>
            <script type="application/javascript">
                (function() {
                    let $hog_specifics = $( '#hog-specifics' );
                    let $model = $( 'input[name="{{ form.model.name }}"]' );
                    let $selected_model = $model.filter( ':checked' );

                    $model.change( function() {
                        toggle_hog( this.value )
                    } )

                    function toggle_hog( val ) {
                        if( val == 'hog' ) {
                            $hog_specifics.prop( 'disabled', false ).show();
                        } else {
                            $hog_specifics.prop( 'disabled', true ).hide();
                        }
                    }

                    toggle_hog( $selected_model.val() );
                })();
            </script>

        <div class="row mb-2">
            <div class="col-5">
                <h5>Stoffe</h5>
            </div>
            <div class="col-2 text-center">
                Menge
            </div>
            <div class="col-3 text-center">
                Impulse
            </div>
        </div>
        <div class="form-group row">
            <div class="col-5">
                <div class="form-check">
                    {{ form.kcl_active( class_="form-check-input" ) }}
                    {{ form.kcl_active.label( class_="form-check-label" ) }}
                </div>
            </div>
            <div class="col-2">
                <div class="input-group">
                    {{ form.kcl_amount( class_="form-control text-right" ) }}
                    <div class="input-group-append">
                        <div class="input-group-text">mM</div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                {{ form.kcl_timing( class_="form-control text-right" ) }}
            </div>
            <script type="application/javascript">
                (function() {
                    let $active = $( '#{{ form.kcl_active.name }}' );
                    let $amount = $( '#{{ form.kcl_amount.name }}' );
                    let $timing = $( '#{{ form.kcl_timing.name }}' );

                    $active.change( function() {
                        $amount.prop( 'disabled', !this.checked )
                        $timing.prop( 'disabled', !this.checked )
                    } )

                    $amount.prop( 'disabled', !$active[0].checked )
                    $timing.prop( 'disabled', !$active[0].checked )
                })();
            </script>
        </div>
        <div class="form-group row">
            <div class="col-5">
                <div class="form-check">
                    {{ form.nacl_active( class_="form-check-input" ) }}
                    {{ form.nacl_active.label( class_="form-check-label" ) }}
                </div>
            </div>
            <div class="col-2">
                <div class="input-group">
                    {{ form.nacl_amount( class_="form-control text-right" ) }}
                    <div class="input-group-append">
                        <div class="input-group-text">mM</div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                {{ form.nacl_timing( class_="form-control text-right" ) }}
            </div>
            <script type="application/javascript">
                (function() {
                    let $active = $( '#{{ form.nacl_active.name }}' );
                    let $amount = $( '#{{ form.nacl_amount.name }}' );
                    let $timing = $( '#{{ form.nacl_timing.name }}' );

                    $active.change( function() {
                        $amount.prop( 'disabled', !this.checked )
                        $timing.prop( 'disabled', !this.checked )
                    } )

                    $amount.prop( 'disabled', !$active[0].checked )
                    $timing.prop( 'disabled', !$active[0].checked )
                })();
            </script>
        </div>
        <div class="form-group row">
            <div class="col-5">
                <div class="form-check">
                    {{ form.sorbitol_active( class_="form-check-input" ) }}
                    {{ form.sorbitol_active.label( class_="form-check-label" ) }}
                </div>
            </div>
            <div class="col-2">
                <div class="input-group">
                    {{ form.sorbitol_amount( class_="form-control text-right" ) }}
                    <div class="input-group-append">
                        <div class="input-group-text">mM</div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                {{ form.sorbitol_timing( class_="form-control text-right" ) }}
            </div>
            <script type="application/javascript">
                (function() {
                    let $active = $( '#{{ form.sorbitol_active.name }}' );
                    let $amount = $( '#{{ form.sorbitol_amount.name }}' );
                    let $timing = $( '#{{ form.sorbitol_timing.name }}' );

                    $active.change( function() {
                        $amount.prop( 'disabled', !this.checked )
                        $timing.prop( 'disabled', !this.checked )
                    } )

                    $amount.prop( 'disabled', !$active[0].checked )
                    $timing.prop( 'disabled', !$active[0].checked )
                })();
            </script>
        </div>

        <button type="submit" class="btn btn-primary">Simulation starten</button>
    </fieldset>
</form>
{% endblock %}
