{% extends "base.html" %}

{% block title %}Willkommen{% endblock %}

{% block jumbotron %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">ProjektQ</h1>
            <p class="lead">Willkommen bei ProjektQ. Ein wissenschaftlicher Simulator von Jan Piotraschke.</p>
            <hr class="my-4">
            <p>Neugierig? Probieren sie ihn aus:</p>
            <a class="btn btn-primary btn-lg" href="/simulation/neu" role="button">
                <i class="fas fa-plus"></i> Neue Simulation erstellen
            </a>
        </div>
    </div>
{% endblock %}

{% block content %}
{% endblock %}
